<div class="container mt-2">
  <h1 class="font-weight-bold text-danger">
    避難所に行くときは非常持ち出し袋を持ってきてください。
  </h1>

  <h2 class="font-weight-bold">生活必需品をひとまとめに</h2>
  
  <h3>
    緊急時に荷物をまとめている暇はありません。</br>
    必要最小限のものをリュックサックなどにひとまとめにして、</br>
    玄関などすぐに持ちだすことができる場所に置いておきましょう。</br>
  </h3>
  
  <h2 class="font-weight-bold">台風や大雨のときは非常持ち出し袋にプラスアルファ</h2>
  
  <h3>
    台風や大雨は危険が迫るまで時間的余裕がある場合があります。</br>
    基本となる非常持ち出し袋にプラスアルファで、</br>
    避難所で必要なものを準備して持ってくることができるかもしれません。</br>
  </h3>

  <h2 class="font-weight-bold text-success">《持ち物リスト一覧》</h2>
  
  <h3 class="font-weight-bold">《基本の物》</h3>
    <p>
      ・飲量水、すぐに食べられるもの</br>
      ・衣類、膝掛け、軍手</br>
      ・携帯トイレ、トイレットペーパー</br>
      ・歯ブラシ、石けん、タオル、ボディーシート</br>
      ・マスク、アルコール消毒液、ウエットティッシュ、体温計</br>
      ・現金</br>
      ・服用しているお薬、お薬手帳</br>
      ・救急セット</br>
      ・家族の連絡先リスト</p>
    
  <h3 class="font-weight-bold">《目につくところに置き、すぐ使えるようにする物》</h3>
    <p>
      ・懐中電灯、ラジオ、電池</br>
      ・頑丈な靴（避難用の靴を決めておきましょう）</br>
    </p>
    
  <h3 class="font-weight-bold">《プラスアルファの物》</h3>
    <p>
      ・飲料水、食料、衣類などを余分に持って行く</br>
      ・寝袋、毛布、エアマットなど寝やすくなるもの</p>
</div>