<h2>持ち物リスト一覧</h2>

<h3>基本の物</h3>
  <p>飲量水、すぐに食べられるもの</br>
  衣類、膝掛け、軍手</br>
  携帯トイレ、トイレットペーパー</br>
  歯ブラシ、石けん、タオル、ボディーシート</br>
  マスク、アルコール消毒液、ウエットティッシュ、体温計</br>
  現金</br>
  服用しているお薬、お薬手帳</br>
  救急セット</br>
  家族の連絡先リスト</p>

<h3>すぐ使えるようにする物</h3>
  飲料水
  
<h3>プラスアルファの物</h3>