<div class="container mt-2">
  <div class="text-center">
    <h3>
      ようこそ、LIFEへ！<br>
      当サイトは主に災害時の避難情報や<br>
      各地域の避難場所をお知らせするサイトです。<br>
      いいね♡をしたり、ブックマークを使用して<br>
      投稿をマイページに保存することができます。<br>
      詳細ページに行くと投稿にコメントすることも可能です。<br>
      <%= link_to "こちら", about_path %>からご意見やご質問もお待ちしております。<br>
      お気軽にお問い合わせフォームをご利用ください。
    </h3>
  </div>
</div>
