<div class="container mt-2">
  <h3>
      ようこそ、LIFEへ！<br>
      当サイトは主に災害時の避難情報や<br>
      各地域の避難場所をお知らせするサイトです。<br>
      いいね♡でブックマークとして<br>
      投稿をマイページに保存することができます。<br>
      詳細ページに行くと投稿にコメントすることも可能です。<br>
      <%= link_to "こちら", about_path, class: 'text-info' %>からご意見やご質問もお待ちしております。<br>
      お気軽にお問い合わせフォームをご利用ください。<br>
      <div class="font-weight-bold text-danger">
        ※会員以外の方は、問い合わせをする前にゲストログインをしてください。<br>
      </div>
      <%= link_to "こちら", customer_session_path, class: 'font-weight-bold text-info' %>からお願いします。
      <br>
  </h3>
</div>
