<h2>会員からのご意見・ご質問一覧</h2>

<% @homes.each do |home| %>

<table class="table">
  <thead>
    <tr>
      <th>お名前</th>
      <th>メールアドレス</th>
      <th>ご意見・ご質問</th>
      <th>受信日時</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= home.name %></td>
      <td><%= home.email %></td>
      <td><%= home.opinion %></td>
      <td><%= home.created_at.strftime('%Y/%m/%d') %></td>
    </tr>
  </tbody>
</table>

<% end%>