<h4>ハッシュタグ</h4><h5>#<%= @tag.name %></h5>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <%= link_to public_post_path(post.id) do %>
          <%= image_tag post.image.variant(gravity: :center, resize:"200x250^", crop:"200x250+0+0") if post.image.attached? %>
        <% end %>
      </li>
    <% end %>
  </ul>
