<div class="container mt-2">
  <div class="row">
    <div class="col-md-8">
      <h3>寄付履歴</h3>
        <table border="1" cellpadding="5" style="width:80%">
          <thead>
            <tr>
              <th class="table-secondary">寄付場所</th>
              <th class="table-secondary">寄付金額</th>
              <th class="table-secondary">支払方法</th>
              <th class="table-secondary">寄付日</th>
            </tr>
          </thead>
        <% @donations.each do |donation| %>
          <tbody>
            <tr>
              <td><%= donation.area %></td>
              <td><%= donation.payment_amount.to_s(:delimited) %>円</td>
              <td><%= donation.payment_method_i18n %></td>
              <td><%= donation.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
          </tbody>
        <% end %>
        </table>
    </div>
  </div>
</div>