<div class="container mt-2">
  <div class="row">
    <div class="col-md-8"><h2>募金について</h2>
      <h3 class="font-weight-bold text-info">災害支援金の受付について</h3>
        <h4>
          この度発生した地震で被災された方々を支援するため、LIFEでは<br>
          <div class="font-weight-bold">令和6年（2024年）2月1日（木曜日）から令和6年（2024年）12月27日（金曜日）の間、<br>
          義援金を受け付けます。</div>
        </h4>
        <p>
          ※お預かりした義援金は、配分基準等を決定し、<br>
          市町村を通じて被災者の皆様にお届けします。
        </p>

        <h5>寄付場所や支払い方法の選択は下記のリンクからお進み下さい。</h5>
        <%= link_to "情報入力へ進む", new_public_donation_path, class: 'btn btn-success' %>
    </div>
  </div>
</div>
